.input{
    margin-top: 10px;
    background-color: rgba(127, 255, 212, 0.123);
    color:black;
}

.btn{
    margin-top: 10px;
    background-color: salmon;
    color:black;
}

.saida{
    margin-top: 10px;
    border:solid black;
    width:80%;

}

.saida2{
    margin-top: 10px;
    border:solid black;
    width:500px;
    height: 25px;
    
}
.menu{
    text-decoration: none;
    color:rgba(0, 0, 255, 0.384);
    font-size: 150%;
    transition: 1s;
    padding:3px;
    margin:40px;
}
.menuzinho{
    padding:10px;
    margin:40px;
}

.menu:hover{
    color:salmon;
}
